<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="{$site.SITE_INFO.keyword}" />
		<meta name="description" content="{$site.SITE_INFO.description}" />
        <title>{$cname}-{$site.SITE_INFO.title}</title>
        <include file="Common:intoHead" />
		<js href="__JS__/menu.js"/>
    </head>
    <body>
    <include file="Common:head_narrow" />
<div id="container_white">
    <div class="main_b3">
            <div class="h8 clearfix"></div>
            <div class="main_b3_top"><a href="{:U('Index/index')}">首&#12288;页</a>&nbsp;&gt;&gt;&nbsp;<a href="{:U('Article/notice',array('cid'=>$cid))}">{$cname}</a></div>
            
            <div class="h8 clearfix"></div>
            <div class="main_b4_1 fl">
                <!---循环开始---->
                <volist name="list" id="vo">
                <div class="lists"> 
                    <a href="{:U('notice_details',array('id'=>$vo['id']))}">
                    <if condition="$cid == 2">
                        <empty name="vo.picture">
                            <img alt="{$vo.title}" src="__IMG__/nopic_aff.png">
                            <else/>
                            <img alt="{$vo.title}" src="{$upWholeUrl}{$vo.picture}">
                        </empty>
                    </if>
                    <if condition="$cid == 3">
                        <empty name="vo.picture">
                            <img alt="{$vo.title}" src="__IMG__/nopic_aff.png">
                            <else/>
                            <img alt="{$vo.title}" src="{$upWholeUrl}{$vo.picture}">
                        </empty>
                    </if>
                    </a>
                    <dl>
                        <dt><a title="{$vo.title}" href="{:U('notice_details',array('id'=>$vo['id']))}">{$vo.title}</a></dt>
                        <dd class="abstract"> {$vo.description} </dd>
                        <dd class="tr"> <span>{$vo.published|date="Y-m-d H:i",###}</span></dd>
                    </dl>
                    <div class="clearfix"></div>
                </div>
                </volist>
                <!---循环结束---->
                

                <!--分页开始-->
                    <div class="page">{$page}</div>
                <!--分页结束-->


            </div>
    <!--右侧开始-->
    <include file="Article:notice_right" />
    <!--右侧结束-->
            <div class="h8 clearfix"></div>
        </div>
</div>
<!---底部开始-->
<include file="Common:help_narrow" />
<include file="Common:footer"/>
<js href="--PUBLIC--/Js/jquery-validate.js"/>
<script type="text/javascript">
    $(function(){
    });
</script>