<div class="ad_250_b mt10">
    <div class="clr div_br">
        <div class="ad_250_b_top fl">{$caname}</div>
        <div class="more fr"><a href="{:U('Article/notice',array('cid'=>2))}">更多&gt;&gt;</a></div>
    </div>
    {:W('Oncoo/notice',array(2,7))}
</div>

<div class="ad_250_b mt10">
    <div class="clr div_br">
        <div class="ad_250_b_top fl">{$cbname}</div>
        <div class="more fr"><a href="{:U('Article/notice',array('cid'=>3))}">更多&gt;&gt;</a></div>
    </div>
    {:W('Oncoo/notice',array(3,7))}
</div>