<!-- header -->
<section class="content-header">
	<ol class="breadcrumb">
		<li ui-sref-active="active"><a href="#" ui-sref="basic-Company-index"><i class="fa fa-dashboard"></i>商品管理</a></li>
		<li class="active">{{$state.current.page.title}}</li>
	</ol>
</section>
<!-- content -->
<section class="content slide">
	<div class="box" added-reload="false">
		<div class="box-body no-padding">
			<form class="form-horizontal fd-edit-form" name="addForm-Company" ng-submit="editSubmit()">
				<div class="form-group">
					<label class="col-sm-1 control-label fd-must">公司名称</label>
					<div class="col-sm-4">
						<input type="text" ng-model="item.com_name" class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label fd-must">联系人姓名</label>
					<div class="col-sm-4">
						<input type="text" ng-model="item.com_contact_name" class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label fd-must">联系人手机号</label>
					<div class="col-sm-4">
						<input type="text" ng-model="item.com_contact_mobile" class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label fd-must">联系人身份证号</label>
					<div class="col-sm-4">
						<input type="text" ng-model="item.com_contact_idcard" class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label for="item_title" class="col-sm-1 control-label fd-must">公司地址</label>
					<div class="col-sm-3">
						<select ng-model="item.com_province" class="form-control" required ng-change="getMapCity(item.com_province)">
							<option ng-repeat="item_p in provList" value="{{item_p.id}}">{{item_p.region_name}}</option>
						</select>
					</div>
					<div class="col-sm-3">
						<select ng-model="item.com_city" class="form-control" required ng-change="getMapArea(item.com_city)">
							<option ng-repeat="item_c in cityList" value="{{item_c.id}}">{{item_c.region_name}}</option>
						</select>
					</div>
					<div class="col-sm-3">
						<select ng-model="item.com_area" class="form-control" required id="fd-com-area-select">
							<option ng-repeat="item_a in areaList" value="{{item_a.id}}">{{item_a.region_name}}</option>
						</select>
					</div>
				</div>
                <div class="form-group">
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-9">
                        <textarea ng-model="item.com_detail_addr" placeholder="请输入详细地址"></textarea>
                    </div>
                </div>
				<div class="form-group">
					<label class="col-sm-1 control-label fd-must">统一信用代码</label>
					<div class="col-sm-4">
						<input type="text" ng-model="item.com_ucredit" class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label fd-must">法人姓名</label>
					<div class="col-sm-4">
						<input type="text" ng-model="item.com_legal_name" class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label fd-must">法人手机号码</label>
					<div class="col-sm-4">
						<input type="text" ng-model="item.com_legal_mobile" class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label fd-must">法人身份证号</label>
					<div class="col-sm-4">
						<input type="text" ng-model="item.com_legal_idcard" class="form-control" required>
					</div>
				</div>
                <div class="form-group">
                    <label class="col-sm-1 control-label fd-must">营业执照</label>
                    <div class="col-sm-9">
                        <web-uploader width="200" ng-model="item.com_license" file-num-limit="1">
                            <input type="hidden" ng-model="item.com_license[0].url" />
                        </web-uploader>
                    </div>
                </div>
				<div class="form-group">
					<div class="col-sm-offset-1 col-sm-5">
						<button class="btn btn-success" type="submit" ng-disabled="addForm-crowd.$invalid">确定</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>