<!-- header -->
<section class="content-header" >
    <ol class="breadcrumb">
    	<li ui-sref-active="active"><i class="fa fa-dashboard"></i>商品中心</li>
        <li class="active">{{$state.current.page.title}}</li>
    </ol>
</section>
<!-- content -->
<section class="content slide">
	<div class="box" senior-table="brandService" pageSize="15" open-size="lg" added-reload="false">
		<div class="box-header">
			<form class="form-inline pull-right">
				<input type="text" class="form-control fd-input-text" name="keyword" ng-model="searchCondition.keyword" placeholder="输入商品名称或商品标题">
				<button class="btn btn-default" ng-click="searchInfo()"><i class="fa fa-search"></i> 搜索</button>
			</form>
		</div>
		<div class="box">
			<a title="新增" class="btn btn-primary" ng-click="openWindow('tpl-update.html')"><i class="fa fa-plus-circle"></i> 新增</a>
			<a title="删除" class="btn btn-danger" ng-click="deleteAll()"><i class="fa fa-times-circle-o"></i> 删除</a>
		</div>
		<div class="box-body no-padding">
			<table class="table table-hover text-center">
				<tbody>
					<tr>
						<th><input type="checkbox" id="checkall" onclick="fdCheckAll()"></th>
						<th>ID</th>
						<th>品牌名称</th>
						<th>上级分类</th>
						<th>更新时间</th>
						<th>操作</th>
					</tr>
					<tr ng-repeat="item in list" class="list-animation">
						<td><input type="checkbox" value="{{item.id}}" name="ids[]"></td>
						<td>{{$index+1}}</td>
						<td>{{item.brand_name}}</td>
						<td>{{item.cat_name}}</td>
						<td>{{item.brand_uptime_tag}}</td>
						<td>
							<button class="btn btn-info btn-xs glyphicon glyphicon-edit" ng-click="openWindow('tpl-update.html', item)"></button>
							<button class="btn btn-danger btn-xs glyphicon glyphicon-remove-circle" ng-click="remove()"></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="box-footer clearfix ">
			<pagination num-pages="numPages" boundary-links="true" max-size="maxSize" ng-change="pageChanged()" total-items="totalItems" ng-model="currentPage" class="pagination pull-right no-margin" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
			<div class="pull-right ng-binding modv2-pageinfo">
				<span class="modv2-pagecur"> {{currentPage}} </span> / {{numPages}} 页 | 共 {{ totalItems }} 条
			</div>
		</div>
	</div>
</section>
<style type="text/css">
.modal-backdrop {
	z-index: 999 !important;
}

.modal {
	z-index: 1000 !important;
}
</style>

<script type="text/ng-template" id="tpl-update.html">
    <div class="modal-header">
        <button aria-label="close" data-dismiss="modal" class="close" type="button" ng-click="cancel()"><span aria-hidden="true">×</span></button>
        <h3 class="modal-title">添加/编辑品牌</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal fd-edit-form" name="addBrand" ng-submit="submitAddBrandForm(item)">
            <div class="box-body">
                <div class="form-group">
                    <label for="cat" class="col-sm-2 control-label">上级分类</label>
                    <div class="col-sm-10">
						<select ng-model="item.cat_id" class="form-control" required>
							<option ng-repeat="catitem in catList" value="{{catitem.id}}" ng-selected="{{catitem.id==item.cat_id}}">{{catitem.html}}{{catitem.cat_name}}</option>
						</select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="cat" class="col-sm-2 control-label">品牌名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="item.brand_name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="pic" class="col-sm-2 control-label">品牌图标</label>
                    <div class="col-sm-10">
                        <web-uploader width="200" ng-model="item.brand_icon" file-num-limit="1">
                            <input type="hidden" ng-model="item.brand_icon[0].url" />
                        </web-uploader>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">品牌描述</label>
                    <div class="col-sm-10">
                        <textarea ng-model="item.brand_remarks"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="submit">确定</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
                </div>
            </div>
        </form>
    </div>
</script>