.settings/
.buildpath
.project
*.swp
.DS_Store
.idea/
change.clpprj
Application/Runtime/
Application/Database/
Uploads/
Public/ueditor/php/upload/
Public/qrcode/

/nbproject/private/



__pycache__/
*.py[cod]
*$py.class
Pythonc/*.log

