<meta name="viewport" content="width=1200,initial-scale=1.0"/>
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="edge" />
<base href="{$site.WEB_ROOT}"/>
<css href="__CSS__/base.css"/>
<css href="__CSS__/layout.css"/>
<css href="__CSS__/common.css"/>
<css href="--PUBLIC--/Css/pop_status.css"/>
<css href="--PUBLIC--/Js/asyncbox/skins/default.css"/>
<js href="--PUBLIC--/Js/jquery-1.9.0.min.js"/>
<js href="--PUBLIC--/Js/pop_status.js"/>
<js href="--PUBLIC--/Js/functions.js"/>
<js href="__JS__/base.js"/>
<js href="--PUBLIC--/Js/jquery.form.js"/>
<js href="--PUBLIC--/Js/asyncbox/asyncbox.js"/>