<table width="100%" cellspacing="0" cellpadding="0" class="tabela">
    <thead>
    <tr bgcolor="#fbfaf7">
        <th colspan="10">
            <div class="on-title">
                <a href="{:U('Crowd/items',array('cid'=>$oinfo['crowd_id']))}" class="l_color" target="_blank">
                    {$oinfo['item'].title}【申购】
                </a>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr align="left">
        <td align="left" class="tablea_pic" style="width: 315px;">
            <div class="newPic">
                <a href="{:U('Crowd/items',array('cid'=>$oinfo['crowd_id']))}" target="_blank">
                    <img src="{$upWholeUrl}{$oinfo.item.pictures||getPicUrl=###,3,0}" alt="">
                </a>
            </div>
            <div class="newCar clearfix">
                <p>&nbsp;</p>
                <p>支持￥：
                    <span class="blue1">
                        {$oinfo.price|wipezero=###}
                    </span>
                </p>
            </div>
        </td>
        <td>
            <ul>
                <li>订单号：{$oinfo.crd_no}</li>
                <li>状态：
                    <span class="blue1">
                        <if condition="$oinfo['status'] eq 0">待付款</if>
                        <if condition="$oinfo['status'] eq 1">待发货</if>
                        <eq name="oinfo.status" value="2">待收货</eq>
                        <eq name="oinfo.status" value="3">交易成功</eq>
                        <eq name="oinfo.status" value="12">拍卖中</eq>
                    </span>
                </li>
                <eq name="oinfo.status" value="3">
                    <li>拍卖状态：
                        <span class="blue1">
                            <eq name="oinfo.auction_status" value="0">未提交</eq>
                            <eq name="oinfo.auction_status" value="1">待审核</eq>
                            <if condition="($oinfo['auction_status'] gt 1)">审核通过</if>
                        </span>
                    </li>
                </eq>
                <eq name="oinfo.status" value="2">
                    <li>快递公司：{$oinfo.express}</li>
                    <li>快递单号：{$oinfo.express_no}</li>
                </eq>
            </ul>
        </td>
        <in name="ACTION_NAME" value="mycrowd">
            <in name="oinfo.status" value="0,2,3">
            <td align="center">
                <if condition="$whopage['type'] eq 'buy'">
                    <if condition="($oinfo['status'] eq 0)">
                        <li><a class="am-btn am-btn-danger on-btn-danger" href="{:U('Member/crd_payment_order',array('crd_no'=>$oinfo['crd_no']))}" target="_blank">支付</a></li>
                    </if>
                    <eq name="oinfo.status" value="2">
                        <a pname="{$oinfo.item.title}" order="{$oinfo.crd_no}" id="receipt" href="javascript:void(0)">确认收货</a><br>
                        <a id="showExpress" target="_blank" href="{:U('Member/showExpress',array('order_no'=>$oinfo['crd_no'],'type'=>'deliver'))}">快递查询</a><br>
                    </eq>
                    <eq name="oinfo.status" value="3">
                        <eq name="oinfo.auction_status" value="0">
                            <a pname="{$oinfo.item.title}" href="{:U('Member/addAuction',array('to'=>js,'crd_no'=>$oinfo['crd_no']))}">发布拍卖</a><br>
                        </eq>
                        <eq name="oinfo.auction_status" value="1">
                            <a pname="{$oinfo.item.title}" order="{$oinfo.crd_no}" id="del_auction" href="javascript:void(0)">撤销拍卖</a><br>
                        </eq>
                        <in name="oinfo.auction_status" value="2,3">
                            <a pname="{$oinfo.item.title}" href="{:U('Member/crowdAuction',array('crd_no'=>$oinfo['crd_no']))}" target="_blank">拍卖详情</a><br>
                        </in>
                    </eq>
                </if>
            </td>
            </in>
        </in>
    </tr>
    <tr>
        <td colspan="10" align="right">
            <div class="fr">
                支持￥:{$oinfo.price|wipezero=###}元+运费:{$oinfo.delivery_fee|wipezero=###}元=<span
                    class="red1 fb">{$oinfo.total_price}元</span>
            </div>
        </td>
    </tr>
    </tbody>
</table>