<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="{$site.SITE_INFO.keyword}" />
		<meta name="description" content="{$site.SITE_INFO.description}" />
        <title>个人信息-{$site.SITE_INFO.title}</title>
        <include file="Common:intoHead" />
		<css href="__CSS__/user.css"/>
		<js href="__JS__/user.js"/>
    </head>
    <body>
    <include file="Common:head_wide" />
<div id="container_white">
    <div class="main_b9">
        <div class="h8 clearfix"></div>
        <div class="main_b3_top"><a href="">首　页</a>&nbsp;&gt;&gt;&nbsp;账号中心&nbsp;&gt;&gt;&nbsp;个人信息</div>
        <div class="main_b9_1 clearfix">
            <!--左侧导航开始-->
            <include file="Member:menu" />
            <!--左侧导航结束-->
            <!---右侧开始-->
           	  <div class="sider">
                    <ul class="inquiry">
                        <li class="hover">账号信息</li> 
                    </ul>
                    <div class="inquiry-con">
                        <div class="my_info mb_index clearfix">
                            <div class="my_info_pic clearfix">
                                <div class="userpic">
                                    <img src="{$info.uid|getUserpic=###,1}">
                                </div>
                                <div class="tc" style=" margin-top: 10px;">
                                    昵称：{$info.nickname}
                                </div>
                            </div>
                            <div class="my_info_txt">
                                <dl class="clearfix">
                                    <dt>账号：</dt>
                                    <dd>{$info.account}</dd>
                                </dl>
                                
                                <dl class="clearfix">
                                    <dt>真实姓名：</dt>
                                    <dd>{$info.truename}</dd>
                                </dl>
                                <dl style="width:100%; border-bottom:solid 1px #e4e4e4;"></dl>
                                <dl class="clearfix" style="width:100%">
                                    <dt>邮箱：</dt>
                                    <dd>{$info.email}&nbsp;&nbsp;</dd>
                                    <dd class="clearfix">
                                        <eq name="info['verify_email']" value="0">
                                            <div class="email_ico fl"></div>
                                            <div class="email_txt fl"> &nbsp;未认证&nbsp;&nbsp;</div>
                                        </eq>
                                        <eq name="info['verify_email']" value="1">
                                            <div class="email_ico yes fl"></div>
                                            <div class="etxt1 fl"> &nbsp;已认证&nbsp;&nbsp;</div>
                                        </eq>
                                    </dd>
                                    <eq name="info['verify_email']" value="0">
                                    <dd id="checkeml">
                                        <a class="checkbtn" href="{:U('Member/check',array('type'=>'email'))}">邮箱认证</a>
                                    </dd>
                                    </eq>
                                </dl>
                                <dl class="clearfix" style="width:100%">
                                    <dt>手机号码：</dt>
                                    <dd>{$info.mobile}&nbsp;&nbsp;</dd>
                                    <dd class="clearfix">
                                        <eq name="info['verify_mobile']" value="0">
                                            <div class="mobile_ico fl"></div>
                                            <div class="fl">&nbsp;未认证&nbsp;&nbsp;</div>
                                        </eq>
                                        <eq name="info['verify_mobile']" value="1">
                                            <div class="mobile_ico yes fl"></div>
                                            <div class="etxt1 fl">&nbsp;已认证&nbsp;&nbsp;</div>
                                        </eq>
                                    </dd>
                                    <eq name="info['verify_mobile']" value="0">
                                    <dd id="checkmob">
                                        <a class="checkbtn" href="{:U('Member/check',array('type'=>'mobile'))}">手机认证</a>
                                    </dd>
                                    </eq>
                                </dl>
                            </div>
                        </div>
                        <div class="trade">
                            <table width="100%" bgcolor="dddddd" class="trade-table">
                                <thead>
                                    <tr>
                                        <th width="30%">通知/站内信</th>
                                        <th width="30%">拍卖提醒</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>
                                    消息提醒共：<a href="{:U('Member/mysms')}"><em class="red1 fb">{$info.smsc}</em>&nbsp;条</a>&nbsp;&nbsp;
                                    未读：<a href="{:U('Member/mysms')}"><em class="blue1 fb">{$smsc}</em>&nbsp;条</a>
                                    </td>
                                    <td>
                                        提醒方式：
                                        <empty name="alerttype">
                                            未设置提醒方式
                                        <else/>
                                            <foreach name="alerttype" item="tv">
                                                <eq name="tv" value="email">邮箱提醒&nbsp;&nbsp;</eq>
                                                <eq name="tv" value="mobile">短信提醒&nbsp;&nbsp;</eq>
                                                <eq name="tv" value="weixin">微信提醒&nbsp;&nbsp;</eq>
                                            </foreach>
                                        </empty>
                                        <a class="on-minibtn on-btn-red" href="{:U('Member/settixing',array('pid'=>0))}">设置提醒方式</a>
                                    </td>
                                </tr>                       
                            </table>
                        <table style="margin-top:20px;" width="100%" bgcolor="dddddd" class="trade-table">
                            <thead>
                                <tr>
                                    <th width="30%">账户余额</th>
                                    <th width="30%">信用额度</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>
                                账户余额：<em class="red1 fb">{$info.wallet_pledge}</em>&nbsp;&nbsp;
                                冻结：<em class="blue1 fb">{$info.wallet_pledge_freeze}</em>&nbsp;&nbsp;
                                可用：<span class="org1 fb">{$info.pledge_live}</span>
                                <a class="on-minibtn on-btn-red" href="{:U('Member/payment')}">充值</a>
                                </td>
                                <td>
                                信用额度：<em class="red1 fb">{$info.wallet_limsum}</em>&nbsp;&nbsp;
                                冻结：<em class="blue1 fb">{$info.wallet_limsum_freeze}</em>&nbsp;&nbsp;
                                可用：<span class="org1 fb">{$info.limsum_live}</span>
                                可用积分：<span class="red1 fb">{$info.point}</span>
                                </td>
                                </tr>                       
                            </table>
                            <table style="margin-top:20px;" width="100%" bgcolor="dddddd" class="trade-table">
                                <thead>
                                    <tr>
                                        <th width="30%">拍卖订单（我是买家）</th>
                                        <th width="30%">拍卖订单（我是卖家）</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>
                                        待付款：<a href="{:U('Member/mysucc',array('st'=>0))}"><em class="red1 fb">{$info.buy.waitpay}</em>&nbsp;条</a>&nbsp;&nbsp;
                                        待收货：<a href="{:U('Member/mysucc',array('st'=>2))}"><em class="blue1 fb">{$info.buy.waitgain}</em>&nbsp;条</a>
                                        待评价：<a href="{:U('Member/mysucc',array('st'=>3))}"><em class="blue1 fb">{$info.buy.waitgain}</em>&nbsp;条</a>
                                    </td>
                                    <td>
                                        待发货：<a href="{:U('Member/myorder',array('st'=>1))}"><em class="red1 fb">{$info.sel.waitdeliver}</em>&nbsp;条</a>&nbsp;&nbsp;
                                        待评价：<a href="{:U('Member/myorder',array('st'=>5))}"><em class="blue1 fb">{$info.sel.waiteval}</em>&nbsp;条</a>
                                    </td>
                                </tr>                       
                            </table>
                        </div>
                    </div>
                </div>
            <!---右侧结束-->
        </div>
        <!--auction.html结束-->
    </div>
</div>
<!---底部开始-->
<include file="Common:help_narrow" />
<include file="Common:footer"/>
</body>
</html>