<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="{$site.SITE_INFO.keyword}" />
		<meta name="description" content="{$site.SITE_INFO.description}" />
        <title>信用额度-账号中心-{$site.SITE_INFO.title}</title>
        <include file="Common:intoHead" />
		<css href="__CSS__/user.css"/>
		<js href="__JS__/user.js"/>
    </head>
    <body>
    <include file="Common:head_wide" />
<div id="container_white">
    <div class="main_b9">
        <div class="h8 clearfix"></div>
        <div class="main_b3_top"><a href="">首　页</a>&nbsp;&gt;&gt;&nbsp;账号中心&nbsp;&gt;&gt;&nbsp;信用额度</div>

        
        <div class="main_b9_1 clearfix">
            <!--左侧导航开始-->
            <include file="Member:menu" />
            <!--左侧导航结束-->
            <!---右侧开始-->
            <div class="sider">
                <form method="post" action="" id="netForm">
                <input type="hidden" id="nowpage" name="nowpage">
                    <div class="sider">
                        <h2>信用额度</h2>
                        <div class="earnest">
                            当前信用额度：<strong><em>{$limsum.wallet_limsum}元</em></strong>&nbsp;&nbsp;
                            冻结：<strong><em>{$limsum.wallet_limsum_freeze}元</em></strong>
                        </div>
                        <div class="earnest">信用额度功能类似保证金，可参与拍卖和预定。参拍或预定将冻结相应信用额度，成交后解冻。信用额度不可提现！<br>
                        您可以联系我们申请信用额度！
                        </div>
                        <div class="trade">

                            <table width="100%" bgcolor="dddddd" cellspacing="0" cellpadding="0" class="trade-table">
                                <caption class="history"><span>可用信用额度：<strong>{$limsum.usable}</strong> 元</span>信用额度历史：</caption>
                                <thead>
                                    <tr>
                                        <th width="15%">单号</th>
                                        <th width="15%">事项</th>
                                        <th width="10%">支出</th>
                                        <th width="10%">收入</th>
                                        <th width="20%">备注</th>
                                        <th width="15%">操作时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <volist name="bill" id="bv">
                                    <tr>
                                        <td>{$bv.order_no}</td>
                                        <td>{$bv.changetype|changetype=###}</td>
                                        <td>{$bv.expend}</td>
                                        <td>{$bv.income}</td>
                                        <td>{$bv.annotation}</td>
                                        <td>{$bv.time|date='Y-m-d H:i',###}</td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <!---右侧结束-->
        </div>
    </div>
</div>
<!---底部开始-->
<include file="Common:help_narrow" />
<include file="Common:footer"/>
<js href="--PUBLIC--/Js/jquery-validate.js"/>
<script type="text/javascript">
    $(function(){
        //jQuery Validate 表单验证
        $('input').focus(function(){

            if($(this).parents('dl').children('.error').length > 0 || $(this).parents('dl').children('.success').length > 0){
            }else{
                $(this).parents('dl').children('.onFocus').show();
                $(this).parents('dl').children('.onShow').hide();
            }
        });
        $("form[name='myInfo']").validate({
            errorElement : 'dd',
            success : 'success',
            errorPlacement : function(error, element) {
                error.appendTo(element.parents('dl'));
                error.parents('dl').children('.onFocus').hide();
                error.parents('dl').children('.onShow').hide();
            },
            rules : {
                pwd : {
                    required : true,
                },
                new_pwd : {
                    required : true,
                },
                new_pwded : {
                    required : true,
                    equalTo : "#new_pwd"
                },
            },
            messages : {
                pwd : {
                    required : '当前密码不能为空哦'
                },
                new_pwd : {
                    required : '新密码不能为空哦'
                },
                new_pwded : {
                    required : '确认一下你刚才输入的密码',
                    equalTo : '两次密码不一致'
                },
            }
        });
        $(".submit").click(function(){
            if($("form[name='myInfo']").valid()){
                commonAjaxSubmit();
            }
            return false;
        });
    });
</script>
</body>
</html>