<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="{$site.SITE_INFO.keyword}" />
        <meta name="description" content="{$site.SITE_INFO.description}" />
        <title>在线充值-账号中心-{$site.SITE_INFO.title}</title>
        <include file="Common:intoHead" />
        <css href="__CSS__/user.css"/>
        <js href="__JS__/user.js"/>
    </head>
    <body>
    <include file="Common:head_narrow" />
<div id="container_white">
    <div class="main_b9">
        <div class="h8 clearfix"></div>
        <div class="main_b3_top"><a href="">首　页</a>&nbsp;&gt;&gt;&nbsp;账号中心&nbsp;&gt;&gt;&nbsp;在线充值</div>
        <div class="main_b9_1 clearfix">
            <!--左侧导航开始-->
            <include file="Member:menu" />
            <!--左侧导航结束-->
            <!---右侧开始-->
            <div class="sider">
                <!-- 余额充值显示 -->
                <h2>在线充值</h2>
                <div class="zhyts">
                    <strong>尊敬的客户，充值余额成功后你将享有对应拍品的出价权限!出价后冻结余额作为保证金，如未拍到拍品，保证金将退回到您的账户！你可以选择提现来获得账户内的余额！详情查看帮助中心</strong>
                </div>
                <input type="hidden" name="billid" id="billid" value="{$bill}">
                <form id="remaining" action="{:U('Payment/index')}" name="remaining" method="post">
                    <div class="my_info">
                        <!-- 余额充值 -->
                        <input type="hidden" name="data[purpose]" value="pledge" />
                        <dl class="clearfix">
                            <dt>充值金额：</dt>                               
                                <if condition="$bill neq 1 ">
                                    <dd><input type="text" id="money" name="data[money]" value="{$mon}" class="input">&nbsp;元</dd>
                                <else/>
                                    <dd><input type="text" id="money" name="data[money]" class="input">&nbsp;元</dd>
                                </if>
                            
                            <dd><div id="moneyTip"></div></dd>
                        </dl>
                        <!-- 余额充值——end -->
                         <dl class="clearfix linp">
                            <dt style="line-height: 42px;">在线支付：</dt>
                            <dd>
                                <ul class="payTypeList clearfix">
                                    <foreach name="channel" item="v">
                                        <li>
                                            <label>
                                                <div class="icobox">
                                                    <input type="radio" id="pay<neq name='key' value='0'>{$key}</neq>" value="{$v.value}" name="data[channel]">
                                                    <img src="{$v.img}">
                                                </div>
                                            </label>
                                            
                                        </li>
                                    </foreach>

                                </ul>
                                <if condition="$bill neq 1 ">
                                    <ul>微信扫码支付</ul>
                                    <ul><img src="{$qrcodeurl}"></ul>
                                </if>
                                
                            </dd>
                            <dd style="padding-left: 80px;"><div id="payTip"></div></dd>
                        </dl>
                        <dl class="clearfix">
                            <dt>&nbsp;</dt>
                            <input type="hidden" name="data[payType]" value="recharge" />
                            <dd><input type="submit" value="支付" id="submit" class="on-btn on-btn-red submit"></dd>
                        </dl>
                    </div>
                </form>
            </div>
            <!---右侧结束-->
        </div>
        <!--auction.html结束-->
    </div>
</div>
<!---底部开始-->
<include file="Common:help_narrow" />
<include file="Common:footer"/>

<js href="--PUBLIC--/Js/formValidator/formValidator-4.1.3.js"/>
<js href="--PUBLIC--/Js/formValidator/formValidatorRegex.js"/>

<script type="text/javascript">
    $(function(){
        // 初始化radio
        $(".payTypeList").find("li:first-child").find("input[name='data[channel]']").attr('checked','checked');
        $(".payTypeList input[name='data[channel]']:checked").parents('li').addClass('cur');
        $(".payTypeList :radio").change(function() {
            $("input[name='data[channel]']").parents('li').removeClass('cur');
            $("input[name='data[channel]']:checked").parents('li').addClass('cur');
        });
        // 表单验证【
         $.formValidator.initConfig({formID:"remaining",submitButtonID:"submit"});
         $("#money").formValidator({onShow:"请输入充值金额",onFocus:"必须为数字，小数点后最多可有两位",onCorrect:"输入正确"}).functionValidator({fun:isMoney});
         $(":radio[name='data[channel]']").formValidator({tipID:"payTip",onShow:"请选择一种支付方式",onFocus:"请选择一种支付方式，才能支付",onCorrect:"已选择"}).inputValidator({min:1,max:1,onError:"性别忘记选了,请确认"});
        // 表单验证】
    });



    $(document).ready(function () {
        setInterval("ajaxstatus()", 3000);    
    });
    
    function ajaxstatus() {
        var bill = $('#billid').val();
        if (parseInt(bill) != 1) {
            $.ajax({
                url: "http://www.fjsxpmh.com/Home/Payment/isorder?bill="+bill,
                type: "GET",
                dataType:"json",
                success: function (data) {
                     console.log(data);
                    if (data==1) { //订单状态为1表示支付成功
                       window.location.href = "http://www.fjsxpmh.com/Member/index.html"; //页面跳转
                    }
                },
                error: function () {
                    console.log("error");
                     // alert("请求订单状态出错"); 
                }
            });
        }
    
    }

</script>
</body>
</html>