<meta name="viewport" content="width=1200,initial-scale=1.0"/>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="edge" />
<base href="{$site.WEB_ROOT}"/>
<css href="__CSS__/base.css"/>
<css href="__CSS__/common.css"/>
<css href="__CSS__/index.css"/>
<css href="--PUBLIC--/Css/pop_status.css"/>
<css href="--PUBLIC--/Js/asyncbox/skins/oncoo.css"/>
<js href="--PUBLIC--/Js/jquery-1.7.2.min.js"/>
<js href="--PUBLIC--/Js/functions.js"/>
<js href="__JS__/common.js"/>
<js href="--PUBLIC--/Js/pop_status.js"/>
<js href="--PUBLIC--/Js/jquery.form.js"/>
<js href="--PUBLIC--/Js/asyncbox/asyncbox.js"/>
<script type="text/javascript">

	var attUrl = "{:U('Member/attention')}";
	// 关注商家地址
	var setAttentionSellerUrl ="{:U('Seller/attention')}";
	var getusercard = "{:U('Public/getusercard')}"
	var login = "{$login}";
	var iswei="{$iswei}";
	var domain = "{$site.WEB_ROOT}";
	
</script>
