<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="{$site.SITE_INFO.keyword}" />
		<meta name="description" content="{$site.SITE_INFO.description}" />
        <title>{$site.SITE_INFO.title}</title>
        <style type="text/css">.navleft .leftlist {display: block;}</style>
        <include file="Common:intoHead" />
		<css href="__CSS__/cuitindex.css"/>
		<css href="__CSS__/list.css"/>
		<js href="__JS__/indexjs.js"/>
    </head>
    <body>
	
    <include file="Common:head_wide" />
    <div class="container">
        <div class="contenttop clearfix">
            <div class="contentright">
                <div class="topad">
                    {:showAdvPosition('index_notice_top')} 
                </div>
                <div class="notice">
                    <h3>{$caname}<a target="_blank" href="{:U('Article/notice',array('cid'=>2))}">更多</a></h3>
                    {:W('Oncoo/notice',array(2,5))}
                </div>
                <div class="notice">
                    <h3>{$cbname}.{$site.SITE_INFO.name}<a target="_blank" href="{:U('Article/notice',array('cid'=>3))}">更多</a></h3>
                    {:W('Oncoo/notice',array(3,5))}
                </div>
            </div>
            <!-- 首页幻灯片广告位 -->
            <div id="focus">
                {:showAdvPosition('index_slides')} 
            </div>
            <!-- 首页幻灯片广告位——end -->
        </div>
        
        
        <!-- 首页频道循环输出 -->
        <include file="Index:channelbox" />
        <!-- 首页频道循环输出——end -->
        <!-- 首页最近成交 -->
        <div class="paimai clearfix">
            <div class="boxtit mb10">
                <h2>最近成交</h2>
                <p>
                    <span class="boxtitblack"><a href="{:U('Auction/allend',array('type'=>0))}" target="_blank">竞拍</a></span>
                    <span>&nbsp;规定时间，多次出价，价高者得。</span>
                    <span class="boxtitblack"><a href="{:U('Auction/allend',array('type'=>1))}" target="_blank">竞标</a></span> 
                    <span>&nbsp;规定时间，一次出价，价高者得。</span> 
                </p>
                <a target="_blank" href="{:U('Auction/allend')}">更多成交</a>
            </div>
            <div class="pmboxcenter">
                <div class="clearfix">
                    <foreach name="endlist" item="bav">
                    <!-- 全部未开拍 -->
                        <div id="elistA" class="auctionbox tab_con clearfix" style="display:block;">
                            <empty name="bav.elistA">
                                <div class="datanone">很抱歉该条件下暂无拍品，您可以重新查询！</div>
                            <else />
                                <volist name="bav.elistA" id="avo">
                                    <include file="Auction/bidbox" />
                                </volist>
                            </empty>
                        </div>
                    </foreach>
                </div>
            </div>
        </div>
        <!-- 首页最近成交——end -->
    <div class="paimai hezuo clearfix">
        <div class="boxtit">
            <h2>合作伙伴</h2>
        </div>
        <div class="hezuobox">
            <ul class="piclink clearfix">
                <foreach name="linkA" item="vo">
                    <li>
                        <a target="_blank" href="{$vo.url}">
                            <img title="{$vo.name}" width="128" height="48" src="{$upWholeUrl}{$vo.ico}"/>
                        </a>
                    </li>
                </foreach>
            </ul>
            <ul class="txtlink clearfix">
                <foreach name="linkB" item="vo">
                    <li><a href="{$vo.url}" target="_blank">{$vo.name}</a></li>
                </foreach>
            </ul>
        </div>
    </div>
    
</div>
<!---底部开始-->
<include file="Common:help_wide" />
<include file="Common:footer"/>
</body>
</html>
