<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="{$site.SITE_INFO.keyword}" />
		<meta name="description" content="{$site.SITE_INFO.description}" />
        <title>拍卖会-{$site.SITE_INFO.title}</title>
        <include file="Common:intoHead" />
		<css href="__CSS__/cuitindex.css"/>
		<css href="__CSS__/list.css"/>
		<js href="__JS__/indexjs.js"/>
    </head>
    <body>
    <include file="Common:head_wide" />
    <div  class="container auction_list">
     <div class="auction">
        <div class="meeting clearfix">
            <!-- 拍卖会顶部广告 -->
            <div class="ad_special_top">
                {:showAdvPosition('auction_meeting_top','span')} 
            </div>
            <div class="meeting_list">
            <div class="selection mt0">
                <div class="contitle" id="contit">
                    <a href="{:U('Meeting/index',array('typ'=>'biding'))}" <eq name="saytyp.get" value="biding"> class="on"</eq> >进行中拍卖会</a>  
                    <a href="{:U('Meeting/index',array('typ'=>'future'))}" <eq name="saytyp.get" value="future"> class="on"</eq>>预展拍卖会</a>
                    <a href="{:U('Meeting/index',array('typ'=>'bidend'))}" <eq name="saytyp.get" value="bidend"> class="on"</eq>>历史拍卖会</a> 
                </div>
             </div>
            <!-- 拍卖会顶部广告——end -->
            <div class="content">
                <ul>
                <empty name="list">
                    <li class="datanone">暂时没有{$saytyp.ch}</li>
                    <else /> 
                    <volist name="list" id="vo">
                    <li class="conbox li li{$vo.mid} clearfix">
                        <a href="{:U('Meeting/meetul',array('mid'=>$vo['mid']))}" class="img_box" target="_blank">
                            <notempty name="vo.mpicture">
                                <img alt="{$vo.mname}" src="{$upWholeUrl}{$vo.mpicture}">
                            </notempty>
                        </a>
                        <div class="cb_text <eq name='saytyp.get' value='biding'>biding</eq><eq name='saytyp.get' value='future'>future</eq><eq name='saytyp.get' value='bidend'>bidend</eq>">

                            <h2 class="cuit_over"><a title="{$vo.mname}" href="{:U('Meeting/meetul',array('mid'=>$vo['mid']))}" target="_blank">{$vo.mname}</a></h2>
                            <div class="tgld">
                                <p>{$vo.description}</p>
                            </div>
                            <ul class="cblist clearfix">
                                <li><span>开始时间：</span><p>{$vo.starttime|date='Y-m-d H:i',###}</p> </li>
                                <li><span>拍品总数：</span><p><strong>{$vo.count}</strong>件</p></li>
                                <li><span>保证金缴纳：</span><p>分别缴纳</p></li>
                                <li><span>每件流拍时间：</span><p>{$vo.losetime|conversionM_S=###}</p></li>
                                <li><span>每件间隔时间：</span><p>{$vo.intervaltime|conversionM_S=###}</p></li>
                                <li><span>每件拍卖时间：</span><p>{$vo.bidtime|conversionM_S=###}</p></li>
                            </ul>
                            
                            <div class="specialBidTbox special_timebox clearfix">
                                <!-- 进行中 -->
                                <eq name="saytyp.get" value="biding">
                                    <div class="th" id="bidTimeStatus">
                                    预计结束剩余：
                                    </div>
                                    <div class="onBidtime{$vo.mid}" id="onBidtime">
                                        <span class="day">-</span>
                                        <span class="dw">天</span>
                                        <span class="hour">-</span>
                                        <span class="dw">时</span>
                                        <span class="minute">-</span>
                                        <span class="dw">分</span>
                                        <span class="second">-</span>
                                        <span class="dw">秒</span>
                                        <span class="msec">-</span>
                                    </div>
                                    <script type="text/javascript">
                                        $(function(){
                                            specialCountDown("cke","{$vo.mid}","{$vo.endtime}","{$nowtime}",".onBidtime{$vo.mid}",".onBidtime{$vo.mid} .day",".onBidtime{$vo.mid} .hour",".onBidtime{$vo.mid} .minute",".onBidtime{$vo.mid} .second",".onBidtime{$vo.mid} .msec");
                                        });
                                    </script>
                                </eq>
                                <!-- 进行中——end -->
                                <eq name="saytyp.get" value="bidend">
                                    <div class="th">拍卖会状态：</div>
                                    <div class="td"> 已结束...</div>
                                </eq>
                                <!-- 未开始 -->
                                <eq name="saytyp.get" value="future">
                                <div class="th" id="bidTimeStatus">距离开始：</div>
                                <div class="onBidtime{$vo.mid}" id="onBidtime">
                                    <span class="day">-</span>
                                    <span class="dw">天</span>
                                    <span class="hour">-</span>
                                    <span class="dw">时</span>
                                    <span class="minute">-</span>
                                    <span class="dw">分</span>
                                    <span class="second">-</span>
                                    <span class="dw">秒</span>
                                    <span class="msec">-</span>
                                </div>
                                <script type="text/javascript">
                                    $(function(){
                                        specialCountDown("cks","{$vo.mid}","{$vo.starttime}","{$nowtime}",".onBidtime{$vo.mid}",".onBidtime{$vo.mid} .day",".onBidtime{$vo.mid} .hour",".onBidtime{$vo.mid} .minute",".onBidtime{$vo.mid} .second",".onBidtime{$vo.mid} .msec");
                                    });
                                </script>
                                </eq>
                                <!-- 未开始——end -->
                            </div>
                            
                            <div class="countbid">
                                <eq name="saytyp.get" value="biding">
                                    <span class="side-num">{$vo.mcount}</span>
                                    <span class="side-text">次出价</span>
                                </eq>
                                <eq name="saytyp.get" value="future">
                                    <span class="side-num">{$vo.clcount}</span>
                                    <span class="side-text">人想拍</span>
                                </eq>
                                <eq name="saytyp.get" value="bidend">
                                    <span class="side-num">{$vo.endcount}</span>
                                    <span class="side-text">件成交</span>
                                </eq>
                            </div>
                        </div>
                    </li>
                </volist>
            </empty>
            </ul>
            <div class="bid_list_page mb20">{$page}</div>
            </div>
        </div>     
        </div>
    <!-- 广告列表 -->
    <include file="footer_add" />
    <!-- 广告列表 -->
<!---底部开始-->
<include file="Common:help_wide" />
<include file="Common:footer"/>
<script type="text/javascript">
var ajaxGetSpecialTime = "{:U('Meeting/ajaxmeetinggettime')}";
var ajaxCheckSpecialSucc = "{:U('Meeting/checkmeetingsucc')}";
var endDowntimer = [];
// 结束倒计时
function specialCountDown(ck,mid,etime,ntime,boxobj,day_elem,hour_elem,minute_elem,second_elem,msec_elem){
    var now_time = new Date(ntime*1000);
    var end_time = new Date(etime*1000);
    var native_time = new Date().getTime(); //本地时间
    var now_cha = now_time - native_time; //服务器和本地时间差
    var native_end_time = end_time - now_cha; //本地结束时间
    var sys_second = 0;
    endDowntimer['mid'] = setInterval(function(){
        // 检查本地时间是否更改
        if(Math.abs(native_time - new Date().getTime())>1000){
            clearInterval(endDowntimer['mid']);
            $.post(ajaxGetSpecialTime, {'ck':ck,'mid':mid},function(data){
                clearInterval(endDowntimer['mid']);
                specialCountDown(ck,mid,data.cktime,data.nowtime,boxobj,day_elem,hour_elem,minute_elem,second_elem,msec_elem);
            });
        }
        sys_second = (native_end_time - new Date().getTime())/100; //本地结束剩余时间
        if (sys_second > 0) {
            sys_second -= 1;
            var day = Math.floor((sys_second / 36000) / 24);
            var hour = Math.floor((sys_second / 36000) % 24);
            var minute = Math.floor((sys_second / 600) % 60);
            var second = Math.floor((sys_second/10) % 60);
            var msec = Math.floor(sys_second % 10); //毫秒
            day_elem && $(day_elem).text(day);//计算天
            $(hour_elem).text(hour<10?"0"+hour:hour);//计算小时
            $(minute_elem).text(minute<10?"0"+minute:minute);//计算分
            $(second_elem).text(second<10?"0"+second:second);// 计算秒
            $(msec_elem).text(msec);// 计算秒的1/10
            native_time = new Date().getTime();
        } else { 
            clearInterval(endDowntimer['mid']);
            // 本地时间结束提交服务器验证是否结束
            $.post(ajaxCheckSpecialSucc, {'ck':ck,'mid':mid},function(cdata){
                if(cdata.status==0){
                    clearInterval(endDowntimer['mid']);
                    specialCountDown(ck,mid,cdata.cktime,cdata.nowtime,boxobj,day_elem,hour_elem,minute_elem,second_elem,msec_elem);
                }else{
                    $('.li'+mid).remove();
                    // popup.success(cdata.info);
                    // setTimeout(function(){
                    //     popup.close("asyncbox_success");
                    // },2000);
                    
                }
            });
        }
    }, 100);
}

</script>
</body>
</html>