<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="{$info.keywords}" />
        <meta name="description" content="{$info.description}" />
        <title>{$info.name}-{$site.SITE_INFO.title}</title>
        <include file="Common:intoHead" />
        <css href="__CSS__/cuitindex.css"/>
        <css href="__CSS__/home.css"/>
        <css href="__CSS__/picshow.css"/>
        <!-- <js href="__WEBSOCKET__/js/swfobject.js"/> -->
        <!-- <js href="__WEBSOCKET__/js/web_socket.js"/> -->
        <js href="--PUBLIC--/Js/jquery_raty/jquery.raty.min.js"/>
        <!-- <js href="__JS__/bid_details.js"/> -->
        <js href="__JS__/picshow.js"/>
        <!-- 图片查看器【 -->
        <css href="__STATIC__/Js/viewer/viewer.min.css"/>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="__STATIC__/Js/viewer/html5shiv.min.js"></script>
        <script src="__STATIC__/Js/viewer/respond.min.js"></script>
        <![endif]-->
        <js href="__STATIC__/Js/viewer/viewer.min.js"/>
        <js href="__STATIC__/Js/viewer/main.js"/>
        
        <!-- 图片查看器】 -->
    </head>
    <body >
        <script type="text/javascript">
    $(function() {
     $(".zjls").mouseover(function(){
            $(".zjlsdt").css("display","block");
        });
        $(".zjls").mouseleave(function(){
            $(".zjlsdt").css("display","none");
        });
    })
  </script>
    <include file="Common:head_wide" />



<!--<style type="text/css">
                
    /*培训高级课*/
    .content-gift-detail{
        min-height: 400px;
        width: 1200px;
        margin: 0px auto;
    }
    *{margin:0;padding:0;}
    a{text-decoration:none;}
    .clearfix{*zoom:1;}
    .clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
    .content-gift-detail h1{
        width: 100%;
        margin:0px auto 20px auto;
        font-size: 35px;
        font-family: "微软雅黑";
        height: 43px;
        color: #000;
        text-align: center;
        float: left;
    }
    .box-info{width:650px;margin:30px auto;}
    .box-info .box-intro{float:left;}
    .box-info .box-text{float:right;margin-left:0px;}
    .box-info .box-text .footer-btn{
            width:180px;
            height:60px;display:block;
            margin:0px auto;
            line-height:60px;
            text-align:center;
            color:#fff;
            font-size:16px;
            /*background:rgba(152,0,0);*/
            background: #980000;
            border:0;font-family: "微软雅黑";
    }
    .box-info .box-text p{margin-bottom: 20px;font-size: 18px;}
    .box-footer{width:1200px;margin:30px auto;}
    .box-footer .footer-title{margin-bottom:20px;font-size: 20px;}


</style>-->



    <div class="container">
        
        <input type="hidden" id="verphone" value="{$verphone}">
        <input type="hidden" id="mobile" value="{$mobile}">
        <input type="hidden" id="choseid" value="{$info.id}">
        <input type="hidden" id="name_gift" value="{$info.name}">
        <input type="hidden" id="name_point" value="{$info.point}">
<!--        <div class="content content-gift-detail">
                <h1>{$info.name}</h1>
                <div class="box-info clearfix">
                    <div class="box-intro"><img src="{$upWholeUrl}{$info.picurl}" alt="" width="382" height="228"/></div>
                    <div class="box-text">
                        <p>主讲：{$info.teacher}</p>
                        <p>价格：{$info.point}积分</p>
                        <p>首播时间 {$info.starttime}</p>
                        <p>已购买：{$info.watched}人 限购：{$info.shared}人</p>
                        <a class="footer-btn" href="javascript:;" onclick="clickduihuan({$info.id},'{$info.name}',{$info.point},{$jifenbuzu})" >    
                             <div id="u16" class="ax_uu"> 
                                 <img  class="img " src="/Public/Img/u16.png">
                                <div  class="text" style="top: 20px; transform-origin: 88px 10px 0px;">
                                  <p><span style="color:#FFFFFF">立即兑换</span></p>
                                </div> 
                             </div> 
                        立即兑换</a>
                         <a class="footer-btn" href="#">立即兑换</a> 
                    </div>
                </div>
                <div class="box-footer">
                    <h2 class="footer-title">内容介绍</h2>
                    {$info.description|html_entity_decode}
                    
                </div>
                
        </div>-->
        <div class="content content-gift-detail">
	   <h1>{$info.name}</h1>
	   <div class="ig">
	   		<img src="{$upWholeUrl}{$info.picurl}" alt="" width="582" height="268"/>
	   </div>
	   <div class="js-detail">
			<div class="zhujiang">
				<span class="zj">主讲：</span>
				<a href="#" class="zjls">{$info.main_speaker}</a>
				<div class="zjlsdt">
                  <div class="dtimgs">
                    <img src="{$upWholeUrl}{$info.teacher_pic_url}"><span class="imgbg"></span>
                  </div>
                  <div class="divname-text">   
                  <a href>{$info.main_speaker}</a>
                  {$info.type}
                   </div>
                    <p class="clear"></p> 
                   <div class="synopsis-text">
                   {$info.jianjie}
                   </div>
                 </div>
			</div>
			<div class="price">价格：<span class="jf">{$info.point}积分</span></div>
			<div class="living-time">
				<span class="livingtimetit">首播时间 </span>
				<span>{$info.starttime|date='Y-m-d H:i',###}</span>
			</div>
			<div class="buy"><span>已购买：{$info.watched}人</span><span> 限购：{$info.shared}人</span><span class="hs"> VIP不限购</span></div>
			<div class="dh-bt"><a class="btn" href="javascript:;" onclick="clickduihuan({$info.id},'{$info.name}',{$info.point},{$jifenbuzu})">立即兑换</a></div>
		</div>
		<div class="nr-detail">
				<h2 class="title">内容介绍</h2>
				{$info.content|html_entity_decode}
		</div>	
	</div>


    </div>

        

<!---底部开始-->
<include file="Common:help_wide" />
<include file="Common:footer"/>

 <script src="--PUBLIC--/ueditor/ueditor.parse.js"></script>
</body>
</html>

<script type="text/javascript">
var acpid = '{$info.pid}';

var setTixingUrl ="{:U('Point/tixing')}";
var handler ="function_name()";


function clickduihuan(id,name,jifen,isjifen) {



    if(login==0){
        popStatus(2, '请先登陆后进行积分兑换！', 2,'',true);
    }else{
        var verphone = $('#verphone').val();
        var mobile = $('#mobile').val();
        if(mobile.length!=11){
            popStatus(1, '您的手机未验证，请正在为您跳转到手机验证页面', 3,'/Member/check/type/mobile',true);
        }else{

            if(isjifen==0){
                setTixingUrl = "{:U('Point/tixingb')}";
                asyncbox.open({
                    id : "open_0",
                    title : '积分兑换',
                    args : {pid:acpid},
                    modal : true,
                    buttons : asyncbox.btn.CANCEL,
                    url : setTixingUrl+'?name='+name+'&jifen='+jifen,
                    callback: handlerF
                })
            }else{
                asyncbox.open({
                    id : "open_0",
                    title : '积分兑换',
                    args : {pid:acpid},
                    modal : true,
                    buttons : asyncbox.btn.OKCANCEL,
                    url : setTixingUrl+'?name='+name+'&jifen='+jifen,
                    callback: handlerF
                })
            }
            
        }
    }
}

function handlerF(buttonResult,contentWindow,returnValue){
    var ggid = $('#choseid').val();
    var name = $('#name_gift').val();
    var jifen = $('#name_point').val();

    if(buttonResult=='ok'){
        $.ajax({
            url: setTixingUrl,
            type: 'POST',
            dataType: 'json',
            data: {jifen: jifen,
                   ggid: ggid,
                   name: name,
                   type: '2'},
        })
        .done(function(data) {
            popStatus(data.type, data.info, data.time,'',true);
            location.reload();
        })
        .fail(function(data) {
            popStatus(2, "系统故障了，请稍候", 1,'',true);
        });
    }
}
</script>
