<!-- header -->
<section class="content-header">
	<ol class="breadcrumb">
		<li ui-sref-active="active"><a href="#" ui-sref="basic-Business-index"><i class="fa fa-dashboard"></i>运营商管理</a></li>
		<li class="active">{{$state.current.page.title}}</li>
	</ol>
</section>
<!-- content -->
<section class="content slide">
	<div class="box" added-reload="false">
		<div class="box-body no-padding">
			<form class="form-horizontal fd-edit-form" name="addForm-Business" ng-submit="addSubmit()">
                <div class="form-group">
					<label class="col-sm-2 control-label">店铺名称</label>
					<div class="col-sm-3">
						<input type="text" ng-model="item.name" class="form-control" required>
					</div>
				</div>
                <div class="form-group">
					<label class="col-sm-2 control-label">店铺类型</label>
					<div class="col-sm-3">
						<select ng-model="item.sysid" class="form-control" required">
                                                    <option  value="1">直营</option>
                                                    <option  value="3">一级运营商</option>
                                                    <option  value="4">二级运营商</option>
						</select>
					</div>
				</div>
                 <div class="form-group">
					<label for="item_title" class="col-sm-2 control-label">所属企业</label>
					<div class="col-sm-3">
						<select ng-model="item.business_company_id" class="form-control" required">
							<option ng-repeat="item_p in companyList" value="{{item_p.com_id}}">{{item_p.com_name}}</option>
						</select>
					</div>
				</div>
                                                         
                <div class="form-group">
					<label class="col-sm-2 control-label">店铺账号</label>
					<div class="col-sm-3">
						<input type="text" ng-model="item.business_account" class="form-control" required>
					</div>
				</div>
                <div class="form-group">
					<label class="col-sm-2 control-label">登录密码</label>
					<div class="col-sm-3">
						<input type="passsword" ng-model="item.login_pwd" class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">佣金比例</label>
					<div class="col-sm-3">
						<input type="text" ng-model="item.business_broker" class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">店铺状态</label>
                                        <div class="col-sm-3">
                                            <input type="checkbox" class="form-element" ng-model="item.status"  ng-checked="item.status==1">
					</div>
					
				</div>
	             <div class="form-group">
	                <label for="cat" class="col-sm-2 control-label">开店开始时间</label>
	                <div class="col-sm-3" >
	                	<div class="input-group datepicker modv2-sel-warap" style="width: 100%;">
		                    <ung-datepicker ng-model="item.business_starttime" name="business_starttime" required readonly has-timepicker="true" format="yyyy/MM/dd HH:mm:ss"></ung-datepicker>                        
		                </div>
	                </div>
	                
	            </div>
	            <div class="form-group">
	                <label for="cat" class="col-sm-2 control-label">开店结束时间</label>
	                <div class="col-sm-3"  >
	                	<div class="input-group datepicker modv2-sel-warap" style="width: 100%;">
		                    <ung-datepicker ng-model="item.business_endtime" name="business_endtime" required readonly has-timepicker="true" format="yyyy/MM/dd HH:mm:ss"></ung-datepicker>                        
		                </div>
	                </div>
	                
	            </div>                                 
				<div class="form-group">
					<label class="col-sm-2 control-label">店铺商品是否需要审核</label>
					<div class="col-sm-3">
						<label class="radio-inline"><input type="radio" class="form-element" name="redioG" ng-model="item.business_goods_need_check" value="0" ng-checked="item.business_goods_need_check==0"> 系统默认</label>
                        <label class="radio-inline"><input type="radio" class="form-element" name="redioG" ng-model="item.business_goods_need_check" value="1" ng-checked="item.business_goods_need_check==1"> 必须审核</label>
                        <label class="radio-inline"><input type="radio" class="form-element" name="redioG" ng-model="item.business_goods_need_check" value="2" ng-checked="item.business_goods_need_check==2"> 无须审核</label>
                        <label class="radio-inline"><input type="radio" class="form-element" name="redioG" ng-model="item.business_goods_need_check" value="3" ng-checked="item.business_goods_need_check==3"> 仅上架第一次时需审核</label>
					</div>
				</div>				
												
                <div class="form-group">
					<label class="col-sm-2 control-label ">是否允许登录卖家中心</label>
                    <div class="col-sm-3">
                        <label class="checkbox-inline"><input type="checkbox" class="form-element" ng-model="item.business_allow_login"  ng-checked="item.business_allow_login==1"></label>
					</div>
					
				</div>
                <div class="form-group">
					<label class="col-sm-2 control-label ">店铺商品是否在商城展示</label>
                    <div class="col-sm-3">
                            <label class="checkbox-inline"><input type="checkbox" class="form-element" ng-model="item.business_allow_goods_show" ng-checked="item.business_allow_goods_show==1"></label>
					</div>
					
				</div>
                <div class="form-group">
					<label class="col-sm-2 control-label ">店铺是否在商城展示</label>
                    <div class="col-sm-3">
                        <label class="checkbox-inline"><input type="checkbox" class="form-element" ng-model="item.business_allow_show"  ng-checked="item.business_allow_show==1"></label>
					</div>
					
				</div>  
                <div class="form-group">
					<label class="col-sm-2 control-label">排序</label>
					<div class="col-sm-3">
						<input type="text" ng-model="item.business_sort" class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-3">
						<button class="btn btn-success" type="submit" ng-disabled="addForm-crowd.$invalid">确定</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>