<div class="page-title">
  <div class="title" translate="角色信息列表"></div>
</div>
<div data-ng-controller="roleCtrl">
  <div class="card bg-white">
    <div class="card-header">
      <button ng-if="authList==1||authList.Admin.AdminRole.add" class="btn btn-success btn-sm pull-right" ng-click="addRole('app.role.addrole')">添加角色</button>
    </div>
    <div class="card-block p-a-0">
      <table ng-table="tableParams" class="table-striped table align-middle m-b-0 table-bordered" >
          <tr ng-repeat="role in carsData" ng-if="role"> 
          <td title="'角色ID'" filter="{ id: 'text'}" sortable="'id'" style="width:15%">
            <span text="id" e-name="id" onbeforesave="checkChejia($data, id)" e-form="rowform" e-required>
              {{ role.id }}
            </span>
          </td>
          <td title="'角色名称'" filter="{ name: 'text'}" sortable="'name'" style="width:15%">
            <span text="name" e-name="name" onbeforesave="checkChejia($data, name)" e-form="rowform" e-required>
              {{ role.name}}
            </span>
              <ul>
                  <li ng-repeat="user in role.userlist" ng-if="user">{{user.account}}</li>
              </ul> 
          </td>
          <td  title="'角色备注'" filter="{ remark: 'text'}" sortable="'remark'" style="width:25%">
            <span text="remark" e-name="remark" e-form="rowform" e-required>
              {{ role.remark  }}
            </span>
          </td>

          <td title="'角色状态（未选禁用）'" filter="{ status: 'text'}" sortable="'status'" style="width:15%">
            <label class="switch switch-danger m-b">
              <input  type="checkbox" ng-model="status" ng-checked="{{role.status}}" ng-click="changeStatus('/admin/admin_role/changeStatus',role)">
              <span>
                <i class="handle"></i>
              </span>
            </label> 
          </td>

          <td title="'创建时间'" filter="{ create_time: 'text'}" sortable="'create_time'" style="width:17%">
            <span text="create_time" e-name="create_time" onbeforesave="checkChejia($data, create_time)" e-form="rowform" e-required>
              {{ role.create_time  }}
            </span>
          </td>
          <td title="'修改时间'" filter="{ update_time: 'text'}" sortable="'update_time'" style="width:17%">
            <span text="update_time" e-name="update_time" onbeforesave="checkChejia($data, update_time)" e-form="rowform" e-required>
              {{ role.update_time  }}
            </span>
          </td>

          <td title="'操作'" style="white-space: nowrap" style="width:10%">
            <div class="buttons" ng-show="!rowform.$visible">
              <button ng-if="authList==1||authList.Admin.AdminUser.index" class="btn btn-primary btn-xs" ng-click="role_user(role.id)">用户列表</button>
              <button ng-if="authList==1||authList.Admin.AdminRole.access" class="btn btn-primary btn-xs" ng-click="role_access(role.id)">授权</button>
              <button ng-if="authList==1||authList.Admin.AdminRole.edit" class="btn btn-primary btn-xs" ng-click="editRole(role.id)">编辑</button>
              <button ng-if="authList==1||authList.Admin.AdminRole.delete" class="btn btn-danger btn-xs" ng-click="deleteById(role.id)">删除</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
