<div class="search_auction" style="margin-bottom:10px;">
    <h3 class="pmlisttit">
        <p style="width:500px;font-size:10pt;" class="pmlisttitleft"><a href="javascript:void(0);">正在拍卖中“{$searchkey}”关键词的搜索结果</a>
        </p>
        <p style="width:auto;" class="pmlisttitright">
        <a target="_blank" href="{:U('Index/search',array('searchtype'=>1,'searchkey'=>$searchkey))}">更多</a>
        </p>
    </h3>
    <div class="auctionbox clearfix">
        <foreach name="search.ing" item="bav">
            <empty name="bav.auction">
                <li class="datanone">很抱歉该条件下暂无拍品，您可以重新查询！</li>
            <else />
                <volist name="bav.auction" id="avo">
                    <include file="Auction/bidbox" />
                </volist>
            </empty>
        </foreach>
    </div>
</div>    