<!-- header -->
<section class="content-header">
	<ol class="breadcrumb">
		<li ui-sref-active="active"><a href="#" ui-sref="item-Admin-index"><i class="fa fa-dashboard"></i>商品管理</a></li>
		<li class="active">{{$state.current.page.title}}</li>
	</ol>
</section>
<!-- content -->
<section class="content slide">
	<div class="box" added-reload="false">
		<div class="box-body no-padding">
			<form class="form-horizontal" name="addForm-item" ng-submit="addSubmit(item)">
				<div class="form-group">
					<label for="item_title" class="col-sm-1 control-label fd-must">自由买卖名称</label>
					<div class="col-sm-4">
						<input type="text" ng-model="item.item_name" class="form-control" required>
					</div>
					<label for="item_title" class="col-sm-1 control-label fd-must">商品编号</label>
					<div class="col-sm-4">
						<input type="text" ng-model="item.item_code" class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label for="item_title" class="col-sm-1 control-label fd-must">自由买卖价</label>
					<div class="col-sm-4">
						<input type="text" ng-model="item.item_price" class="form-control">
					</div>
					<label for="item_title" class="col-sm-1 control-label fd-must">数量</label>
					<div class="col-sm-4">
						<input type="text" ng-model="item.item_total" class="form-control" id="item_title">
					</div>
				</div>
				<div class="form-group">
					<label for="item_title" class="col-sm-1 control-label fd-must">商品名称</label>
					<div class="col-sm-4">
						<input type="text" ng-model="item.goods_name" class="form-control" required>
					</div>
					<label for="item_title" class="col-sm-1 control-label fd-must">商品售价</label>
					<div class="col-sm-4">
						<input type="text" ng-model="item.goods_price" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label for="item_title" class="col-sm-1 control-label fd-must">商品分类</label>
					<div class="col-sm-4">
						<select ng-model="item.cat_id" class="form-control" required ng-change="getMapBrand(item.cat_id)">
							<option ng-repeat="item in catList" value="{{item.id}}">{{item.html}}{{item.cat_name}}</option>
						</select>
					</div>
					<label for="item_title" class="col-sm-1 control-label">商品品牌</label>
					<div class="col-sm-4">
						<select ng-model="item.brand_id" class="form-control" required >
							<option ng-repeat="item in brandList" value="{{item.id}}">{{item.brand_name}}</option>
						</select>
					</div>
				</div>

                <div class="form-group">
                    <label for="pic" class="col-sm-1 control-label fd-must">商品图片</label>
                    <div class="col-sm-9">
                        <web-uploader width="200" ng-model="item.goods_thumb" file-num-limit="1">
                            <input type="hidden" ng-model="item.goods_thumb[0].url" />
                        </web-uploader>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pic" class="col-sm-1 control-label fd-must">商品相册</label>
                    <div class="col-sm-9">
                        <web-uploader width="200" ng-model="item.gallery_pic_url" file-num-limit="5">
                            <input type="hidden" ng-model="item.gallery_pic_url" />
                        </web-uploader>
                    </div>
                </div>            
				<div class="form-group">
					<label class="col-sm-1 control-label fd-must">商品详情</label>
					<div class="col-sm-9">
						<textarea ueditor="article" ng-model="item.goods_content" ></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-1 col-sm-5">
						<button class="btn btn-success" type="submit" ng-disabled="addForm-item.$invalid">确定</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>