<ul class="bidbox <eq name="bav.abc" value="0">biding</eq><eq name="bav.abc" value="1">future</eq><eq name="bav.abc" value="2">bidend</eq>">
    <li class="txt01" gid="{$avo.gid}">
        <a href="<if condition="$avo['mid'] eq 0">{:U('Auction/details',array('pid'=>$avo['pid']))}<else />{:U('Auction/details',array('mid'=>$avo['mid'],'pid'=>$avo['pid']))}</if>">
            <img width="259" title="{$avo.pname}  [编号：{$avo.bidnb}]" height="194" src="{$upWholeUrl}{$avo.pictures|getPicUrl=###,2,0}" alt="{$avo.pname}"></img>
            <!-- 正在拍图标 -->
            <eq name="bav.abc" value="0">
                <span class="icons <eq name='avo.status' value='0'>icon01</eq> <eq name='avo.status' value='1'>icon02</eq>">
                </span>
            </eq>
            <!-- 成交图标 -->
            <eq name='bav.abc' value='2'><span class="icons icon05"></span></eq>
            <!-- 预告图标 -->
            <eq name="bav.abc" value="1"><span class="icons icon04"></span></eq>
            <!-- 拍卖会图标 -->
            <in name="avo.pattern" value="3,4"><span class="icons icon03"></span></in>
            <!-- 专场图标 -->
            <in name="avo.pattern" value="1,2"><span class="icons icon06"></span></in>
            <span class="icon-jp">
                <eq name="avo.type" value="0">竞拍</eq>
                <eq name="avo.type" value="1">竞标</eq>
            </span>
         </a>
    </li>
    <li class="txt03"><a title="{$avo.pname}  [编号：{$avo.bidnb}]" href="<if condition="$avo['mid'] eq 0">{:U('Auction/details',array('pid'=>$avo['pid']))}<else />{:U('Auction/details',array('mid'=>$avo['mid'],'pid'=>$avo['pid']))}</if>">{$avo.pname}</a></li>
    <li class="txt04 clearfix">
        <span class="txt04left">
            <eq name="bav.abc" value="1">
                <font >¥<strong>{$avo.onset|wipezero=###}</strong><span>元</span></font> 起拍<br/>
            </eq>
            <eq name="bav.abc" value="0">
                <eq name="avo.type" value="1">
                    <!-- 竞标显示起拍价 -->
                    <font >¥<strong>{$avo.onset|wipezero=###}</strong><span>元</span></font> 起拍<br/>
                <else/>
                    <!-- 竞拍显示当前价 -->
                    <font >¥<strong>{$avo.nowprice|wipezero=###}</strong><span>元</span></font> 当前价<br/>
                </eq>
            </eq>
            <eq name="bav.abc" value="2">
                <font >¥<strong>{$avo.nowprice|wipezero=###}</strong><span>元</span></font>
                <eq name="avo.endstatus" value="1">成交</eq>
                <in name="avo.endstatus" value="2,3">流拍</in>
                <eq name="avo.endstatus" value="4">撤拍</eq>
            </eq>
            
        </span>
    </li>
    <li class="txt05">
        <in name='bav.abc' value='0,1'>保证金：
            <span class="p_col">
                {:pledgeShow($avo['pattern'],$avo['pledge_type'],$avo['onset'],$avo['pledge'],$avo['spledge'],$avo['mpledge'])}
            </span>
            <br>
        </in>
        <eq name="bav.abc" value="1">开始时间：{$avo.starttime|date='m-d H:i',###}</eq>
        <eq name="bav.abc" value="0">结束时间：{$avo.endtime|date='m-d H:i',###}</eq>
        <eq name="bav.abc" value="2">
            起拍价：{$avo.onset|wipezero=###}元<br/>
            成交时间：{$avo.endtime|date='m-d H:i',###}
        </eq>
        <br/>
        <span class="ac-show-userbox" cardtips="0" uid="{$avo.sellerid}" pid="{$avo.pid}" seller="1">
            <span class="userrole">送拍：</span>
            <a target="_blank" class="ac-show-usercard" href="{:U('Seller/index',array('sellerid'=>$avo['sellerid']))}">{$avo.organization}</a>
        </span>
    </li>
    <in name='bav.abc' value='0,1'>
        <if condition="checkAtt('p-u',$avo['pid'],$uid)">
        <a pid="{$avo.pid}" rela="p-u" yn="y" href="javascript:void(0)" class="focus on att">已关注</a>
        <else />
        <a pid="{$avo.pid}" rela="p-u" yn="n" href="javascript:void(0)" class="focus att">关注</a>
        </if>
    </in>
    <eq name="bav.abc" value="1">
        <a class="countshow" href="<if condition="$avo['mid'] eq 0">{:U('Auction/details',array('pid'=>$avo['pid']))}<else />{:U('Auction/details',array('mid'=>$avo['mid'],'pid'=>$avo['pid']))}</if>">
            <span class="side-num">{$avo.clcount}</span>
            <span class="side-text">人想拍</span>
        </a>
    </eq>
    <in name='bav.abc' value='0,2'>
        <a class="countshow" href="<if condition="$avo['mid'] eq 0">{:U('Auction/details',array('pid'=>$avo['pid']))}<else />{:U('Auction/details',array('mid'=>$avo['mid'],'pid'=>$avo['pid']))}</if>">
            <span class="side-num">{$avo.bidcount}</span>
            <span class="side-text">次出价</span>
        </a>
    </in>
    <in name="CONTROLLER_NAME" value="Special,Meeting"><in name='avo.endstatus' value='1,2,3,4'><div style="right:75px;" class="speend_bg"></div></in></in>
    <in name="CONTROLLER_NAME" value="Meeting"><div class="msort">{$avo.msort}号</div></in>
    
    
    
</ul>