<include file="Common:meta" />
<title>订单详情-{$site.SITE_INFO.title}</title>
<meta name="description" content="{$site.SITE_INFO.keyword}">
<meta name="keywords" content="{$site.SITE_INFO.description}">
<include file="Common:link" />
<body>
<include file="Member:menu" />
                <!-- 进度【 -->
                <div class="flowstep">
                    <ol class="flowstep-5 am-avg-sm-6">
                        <li class="step-first">
                            <div class="step-done">
                                <div class="step-name">竞拍成功</div>
                                <div class="step-no"></div>
                                <div class="step-time">
                                    <div class="step-time-wraper">{$oinfo.time|date='m-d H:i',###}</div>
                                </div>
                            </div>        
                        </li>
                        <li>
                            <neq name="oinfo.time1" value="0">
                                <div class="step-done">
                                    <div class="step-name">支付订单</div>
                                    <div class="step-no"></div>
                                    <div class="step-time">
                                        <div class="step-time-wraper">{$oinfo.time1|date='m-d H:i',###}</div>
                                    </div>
                                </div>
                            <else />
                                <div class="step-cur">
                                    <div class="step-name">支付订单</div>
                                    <div class="step-no">2</div>
                                </div>
                            </neq>
                        <li>
                            <neq name="oinfo.time2" value="0">
                                <div class="step-done">
                                    <div class="step-name">卖家发货</div>
                                    <div class="step-no"></div>
                                    <div class="step-time">
                                        <div class="step-time-wraper">{$oinfo.time2|date='m-d H:i',###}</div>
                                    </div>
                                </div>
                            <else />
                                <div class="step-cur">
                                    <div class="step-name">卖家发货</div>
                                    <div class="step-no">3</div>
                                </div>
                            </neq>
                        </li>
                        <li>
                            <neq name="oinfo.time3" value="0">
                                <div class="step-done">
                                    <div class="step-name">确认收货</div>
                                    <div class="step-no"></div>
                                    <div class="step-time">
                                        <div class="step-time-wraper">{$oinfo.time3|date='m-d H:i',###}</div>
                                    </div>
                                </div>
                            <else />
                                <div class="step-cur">
                                    <div class="step-name">确认收货</div>
                                    <div class="step-no">4</div>
                                </div>
                            </neq>
                        </li>
                        <li>
                            <neq name="oinfo.time4" value="0">
                                <div class="step-done">
                                    <div class="step-name">买家已评价</div>
                                    <div class="step-no"></div>
                                    <div class="step-time">
                                        <div class="step-time-wraper">{$oinfo.time4|date='m-d H:i',###}</div>
                                    </div>
                                </div>
                            <else />
                                <div class="step-cur">
                                    <div class="step-name">买家已评价</div>
                                    <div class="step-no">5</div>
                                </div>
                            </neq>
                        </li>
                        <li class="step-last">
                            <neq name="oinfo.time10" value="0">
                                <div class="step-done">
                                    <div class="step-name">卖家已评价</div>
                                    <div class="step-no"></div>
                                    <div class="step-time">
                                        <div class="step-time-wraper">{$oinfo.time10|date='m-d H:i',###}</div>
                                    </div>
                                </div>
                            <else />
                                <div class="step-cur">
                                    <div class="step-name">卖家已评价</div>
                                    <div class="step-no">6</div>
                                </div>
                            </neq>
                        </li>
                    </ol>
                </div>
                <ul class="sea_list am-avg-sm-1">
                    <include file="Member:order_box" />
                </ul>

                <eq name="oinfo.status" value="2">
                    <div class="expbird am-margin-sm">
                        <eq name="oinfo.exphtml.status" value="1">
                            {$oinfo.exphtml.html}
                        </eq>
                    </div>
                </eq>
<include file="Common:footer"/>
<include file="Common:navbar"/>
<script type="text/javascript">
var receiptUrl = "{:U('Member/receipt')}";
    $("#receipt").click(function(){
        var order = $(this).attr("order");
        popup.confirm('你确认已经收到拍品【<b>'+$(this).attr("pname")+'</b>】吗?','温馨提示',function(action){
            if(action == 'ok'){
                popStatus(3, '正在确认收货...', 0,'',true);
                $.post(receiptUrl,{'order':order},function(data){      //ajax后台
                if (data.status) {
                        popup.success(data.msg);
                        setTimeout(function(){
                            popup.close("asyncbox_success");
                            top.window.location.href=data.url;
                        },2000);
                    } else {
                        popStatusOff();
                        alert(data.msg);
                    }
                },'json'); 
            }
        });
        return false;
    });

</script>
</body>
</html>