<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>自动回复设置-链接管理-{$site.SITE_INFO.name}</title>
        <php>
            
            
            $currentNav ='链接管理 > 自动回复设置';
        </php>
        <include file="Common:intoHead" />
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
                <div id="Right">
                    <div class="Item hr clearfix">
                        <div class="current">自动回复设置</div>
                    </div>
                    <form>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
                            
                            <tr>
                                <th>回复内容：</th>
                                <td> <textarea id="comment" type="text" class="input" style="height: 60px; width: 400px;" name="reply_content">{$info.reply_content}</textarea></td>
                            </tr>
                        </table>
                        <input type="hidden" name="id" value="{$info.id}" />
                    </form>
                    <div class="commonBtnArea" >
                        <button class="btn submit">提交</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <include file="Common:foot" />
<script type="text/javascript">
    $(function(){
        // ajax提交表单
        $(".submit").click(function(){
            commonAjaxSubmit();
            return false;
        });
    });
</script>
    </body>
</html>
