<!-- header -->
<section class="content-header">
    <ol class="breadcrumb">
        <li ui-sref-active="active"><i class="fa fa-dashboard"></i>会员管理</li>
        <li class="active">{{$state.current.page.title}}</li>
    </ol>
</section>
<!-- content -->
<section class="content slide">
    <div class="box" senior-table="companyService" page-size="15" added-reload="false">
        <!-- <div class="ph-dot-nav">
            <a href="#" class="{{tagSwitch_all}}" ui-sref="basic-Company-index({check: 'egt|0'})" >全部</a>
            <a href="#" class="{{tagSwitch_pay}}" ui-sref="basic-Company-index({check: 'eq|0'})">待付款</a>
            <a href="#" class="{{tagSwitch_wait}}" ui-sref="basic-Company-index({check: 'eq|2'})">待充值</a>
            <a href="#" class="{{tagSwitch_sucess}}" ui-sref="basic-Company-index({check: 'eq|20'})">交易成功</a>
            <div class="effect"></div>
        </div> -->
        <div class="box-header">
            <form class="form-inline pull-right">
                <label>&nbsp;充值时间：</label>
                <span class="input-group datepicker modv2-sel-warap" datepicker-click="startdOpened">
                    <input type="hidden"  ng-model="searchCondition.start_date" />
                    <input placeholder="日/月" type="datetime"  name="start_date"  required ng-model="start_date" sync="searchCondition.start_date"
                           class="form-control" datepicker-popup="yyyy-MM-dd"  is-open="startdOpened"
                           datepicker-options="dateOptions"  ng-required="true"  current-text="今天" clear-text="清空" close-text="关闭"  readonly />

                </span>
                 <label>&nbsp;至&nbsp;</label>
                <span class="input-group datepicker modv2-sel-warap" datepicker-click="endOpened">
                    <input type="hidden"  ng-model="searchCondition.end_date"/>
                    <input placeholder="日/月" type="datetime"  name="end_date"  required ng-model="end_date" sync="searchCondition.end_date"
                           class="form-control" datepicker-popup="yyyy-MM-dd"  is-open="endOpened"
                           datepicker-options="dateOptions"  ng-required="true"  min-date="start_date" current-text="今天" clear-text="清空" close-text="关闭"  readonly />
                </span>
                <label>&nbsp;支付方式：</label>
                <select name="from" ng-model="searchCondition.isdelivery" class="form-control">
                    <option value="">请选择</option>
                    <option value="1">微信</option>
                    <option value="2">支付宝</option>
                    <option value="3">汇潮</option>
                    <option value="4">银联</option>
                </select>
                 <label>&nbsp;支付状态：</label>
                <select name="from" ng-model="searchCondition.ispay" class="form-control">
                    <option value="">请选择</option>
                    <option value="1">已支付</option>
                    <option value="2">未支付</option>
                </select>
                <input type="text" class="form-control" name="" ng-model="searchCondition.keyword" placeholder="会员昵称/手机号">
                <label class="" >&nbsp;</label>
                <button class="btn btn-default" ng-click="searchInfo()"><i class="fa fa-search"></i> 搜索</button>
            </form>
        </div>
        <div class="box-body no-padding">
            <table class="table table-list text-center">
				<thead>
                    <th>充值时间</th>
					<th>会员昵称</th>
					<th>充值金额</th>
					<th>支付方式</th>
					<th>状态</th>
				</thead>
				<tbody>
					<tr ng-repeat="item in list" class="list-animation">
                        <td>{{item.order_intime_tag}}</td>
						<td>{{item.nickname || item.mobile}}</td>
						<td>{{item.order_amount_price | toMoney}}</td>
						<td>{{item.order_pay_type | payName : item.order_paytime : item.order_pay_type }}</td>
						<td>{{item.order_status | statusName}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="box-footer clearfix ">
			<pagination num-pages="numPages" boundary-links="true" max-size="maxSize" ng-change="pageChanged()" total-items="totalItems" ng-model="currentPage" class="pagination pull-right no-margin" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
			<div class="pull-right ng-binding modv2-pageinfo">
				<span class="modv2-pagecur"> {{currentPage}} </span> / {{numPages}} 页 | 共 {{ totalItems }} 条
			</div>
		</div>
	</div>
    <div>{{q}}</div>
</section>
