<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            <eq name="ACTION_NAME" value="crowd">申购订单</eq>
            -{$site.SITE_INFO.name}
        </title>
        <php>
            if(ACTION_NAME == 'crowd'){
                $pagname = '申购订单列表';
            }elseif(ACTION_NAME == 'search'){
                $pagname = '搜索结果';
            };
            $currentNav ='订单管理 > '.$pagname;
        </php>
        <include file="Common:intoHead" />
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
                <div id="Right">
                    <div class="Item hr clearfix">
                        <div class="current fl">
                            <eq name="ACTION_NAME" value="crowd">申购订单列表</eq>
                        </div>
                        <div class="fl">
                            <a href="{:U('Order/crowd')}" class="sbtn <eq name='where.status' value=''>on</eq>">全部订单</a>
                            <a href="{:U('Order/crowd',array('status'=> '0'))}" class="sbtn <eq name='where.status' value='0'>on</eq>">待支付</a>
                            <a href="{:U('Order/crowd',array('status'=>'1'))}" class="sbtn <eq name='where.status' value='1'>on</eq>">待发货</a>
                            <a href="{:U('Order/crowd',array('status'=>'2'))}" class="sbtn <eq name='where.status' value='2'>on</eq>">待收货</a>
                            <a href="{:U('Order/crowd',array('status'=>'3'))}" class="sbtn <eq name='where.status' value='3'>on</eq>">已收货</a>
                        </div>
                        <div class="search">
                            <form action="{:U('crowd')}" method='get'>
                                订单号：
                                <input type="text" value="{$keys.crd_no}" name="crd_no" class="input" placeholder="搜索订单号" />
                                手机号：
                                <input type="text" value="{$keys.mobile}" name="mobile" class="input" placeholder="搜索手机号" />
                                &nbsp;&nbsp;<button class="btn">搜索</button>
                            </form>
                        </div>
                        
                    </div>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
                        <thead>
                            <tr>
                                <td width="13%">订单号</td>
                                <td width="12%">生成时间</td>
                                <td width="20%">对应商品</td>
                                <td width="10%">商品/运费</td>
                                <td width="10%">订单佣金</td>
                                <td width="10%">支持用户</td>
                                <td width="8%">状态</td>
                                <td width="8%">手机号</td>
                                <td width="17%">操作</td>
                            </tr>
                        </thead>
                        <empty name="list">
                            <tr><td colspan="10">哎哟！什么也没有！</td></tr>
                        <else /> 
                            <volist name="list" id="vo">
                                <tr align="center">
                                    <td align="left">{$vo.crd_no}</td>
                                    <td>{$vo.time|date="Y-m-d H:i:s",###}</td>
                                    <td align="left">
                                        <a style="color:#ff6600;line-height: 20px;" href="{:U('Home/Crowd/items',array('cid'=>$vo[crowd_id]))}" target="_blank">
                                        <img style="margin-right: 5px; display: inline; float:left;" src="{$upWholeUrl}{$vo.pimg|picRep=###,3}" width="50px" />
                                        {$vo.pname}
                                        </a>
                                    </td>
                                    <td>{$vo.price}/{$vo.freight}<br/>共计：{$vo.prcsum}</td>
                                    <td>{$vo.broker}</td>
                                    <td>{$vo.account}</td>
                                    <td>
                                        <if condition="$vo['status'] eq 0">待付款</if>
                                        <if condition="$vo['status'] eq 1">待发货</if>
                                        <eq name="vo.status" value="2">待收货</eq>
                                        <eq name="vo.status" value="3">交易成功</eq>
                                        <eq name="vo.status" value="4">订单已取消</eq>
                                    </td>
                                    <td>{$vo.mobile}</td>
                                    <td>
                                        [ <a href="__URL__/crowd_edit?crd_no={$vo.crd_no}">编辑 </a> ]
                                        [ <a href="__URL__/crowd_cancel?crd_no={$vo.crd_no}">取消 </a> ]
                                        [ <a link="{:U('Order/crowd_del/',array('crd_no'=>$vo['crd_no']))}" href="javascript:void(0)" name="{$vo.crd_no}" class="del">删除 </a> ]
                                    </td>
                                </tr>
                            </volist>
                            <tr>
                                <td colspan="20"><div class="fl">买家订单总额：{$mct.odmn} &nbsp;&nbsp;卖家佣金总额：{$mct.bkmn}</div><div class="page"  style="width: 60%; text-align: right; float: right;">{$page}</div></td>
                            </tr>
                        </empty>
                        
                    </table>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <include file="Common:foot" />
        <script type="text/javascript">
            $(function(){
                $("#allcbox").click(function() {
                    $('input[name="pid[]"]').prop("checked",this.checked);
                });
                var $subBox = $("input[name='pid[]']");
                $subBox.click(function(){
                    $("#allcbox").prop("checked",$subBox.length == $("input[name='pid[]']:checked").length ? true : false);
                });
                $(".submit").click(function(){
                    if($("input[name='pid[]']:checked").length!=0){
                        asyncbox.alert('为了数据的正常，请确保您所选择的订单状态是相同的！','操作提示',function(buttonResult){
                            if(buttonResult == 'ok'){
                                var str="";
                                for (var i=0;i<$("input[name='pid[]']").length;i++ ){
                                    if($("input[name='pid[]']")[i].checked){
                                        str=str+$("input[name='pid[]']")[i].value + "_";
                                    }
                                }
                                str=str.substring(0,str.length-1);
                                document.location.href =paylistUrl+'?order_no='+str;
                            }
                        });
                         
                    }else{
                       popup.alert('您至少需要选中一个要处理的订单');
                        setTimeout(function(){
                            popup.close("asyncbox_alert");
                        },2000);
                    }
                    return false;
                });
                // 删除订单【
                $(".del").click(function(){
                    var delLink=$(this).attr("link");
                    popup.confirm('你真的打算删除【<b>'+$(this).attr("name")+'</b>】吗?','温馨提示',function(action){
                        if(action == 'ok'){
                            top.window.location.href=delLink;
                        }
                    });
                    return false;
                });
                // 删除订单】
            });
        </script>
    </body>
</html>
