<!-- header -->
<section class="content-header">
	<ol class="breadcrumb">
		<li ui-sref-active="active"><a href="#" ui-sref="goods-Goods-index"><i class="fa fa-dashboard"></i>商品管理</a></li>
		<li class="active">{{$state.current.page.title}}</li>
	</ol>
</section>
<!-- content -->
<section class="content slide">
	<div class="box">
		<a title="返回" class="btn btn-success" href="javascript:history.go(-1);"><i class="fa fa-check-circle-o"></i> 返回</a>
	</div>
	<div class="box" added-reload="false">
		<div class="box-body no-padding">
			<form class="form-horizontal" name="editForm-goods" ng-submit="publish(item)">
				<input type="hidden" ng-model="item.id">
                                <div class="form-inline form-group">
                                         <label for="item_crowd_starttime" class="col-sm-1 control-label fd-must">开始时间</label>
					<div class="col-sm-4">
                                            <span class="input-group datepicker modv2-sel-warap" datepicker-click="startOpened">
                                                <input type="hidden"  ng-model="item.crowd_starttime"/>
                                                <input placeholder="日/月" type="text"  name="crowd_starttime"  required ng-model="item.crowd_starttime" sync="item.crowd_starttime"
                                                       class="form-control" datepicker-popup="yyyy-MM-dd"  is-open="startOpened"
                                                       datepicker-options="dateOptions"  ng-required="true"  min-date="crowd_starttime" current-text="今天" clear-text="清空" close-text="关闭"  readonly />
                                            </span>
					</div>
                                         <label for="item_crowd_endtime" class="col-sm-1 control-label fd-must">结束时间</label>
					<div class="col-sm-4">
                                            <span class="input-group datepicker modv2-sel-warap" datepicker-click="endOpened">
                                                <input type="hidden"  ng-model="item.crowd_endtime"/>
                                                <input placeholder="日/月" type="text"  name="crowd_endtime"  required ng-model="item.crowd_endtime" sync="item.crowd_endtime"
                                                       class="form-control" datepicker-popup="yyyy-MM-dd"  is-open="endOpened"
                                                       datepicker-options="dateOptions"  ng-required="true"  min-date="crowd_endtime" current-text="今天" clear-text="清空" close-text="关闭"  readonly />
                                            </span>
					</div>
				</div>
				<div class="form-group">
					<label for="item_title" class="col-sm-1 control-label fd-must">申购数量</label>
					<div class="col-sm-4">
						<input type="text" ng-model="item.crowd_total" class="form-control" required>
					</div>
				</div>
                                <div class="form-group">
					<div class="col-sm-offset-1 col-sm-5">
						<button class="btn btn-success" type="submit" ng-disabled="editForm-crowd.$invalid">确定</button>
					</div>
				</div>
 
			</form>
		</div>
	</div>
</section>