<!-- header -->
<section class="content-header" >
    <h1>
        {{$state.current.page.title}}
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li ui-sref-active="active"><a href="#" ui-sref="index-index-home"><i class="fa fa-dashboard"></i>{{$state.current.page.title}}</a></li>
        <li class="active">{{$state.current.page.title}}</li>
    </ol>
</section>

<!-- content -->
<section class="content slide" >
    <div class="box" senior-table="ArticleService" page-size="10" open-size="lg" added-reload="false">
        <div class="box-header">
            <div class="form-inline pull-right">
                <label>&nbsp;栏目：</label>
                <select name="from" ng-model="searchCondition.cid" class="form-control">
                    <option value="">所有</option>
                    <option ng-repeat="item in catList" value="{{item.id}}" ng-selected="{{item.id == searchCid}}">{{item.name}}</option>
                </select>
            
                <label>&nbsp;状态：</label>
                <select name="from" ng-model="searchCondition.status" class="form-control">
                    <option value="">所有</option>
                    <option value="1">已发布</option>
                    <option value="-1">已删除</option>
                </select>
            
                <input type="text" class="form-control" name="" ng-model="searchCondition.title" placeholder="请输入标题关键字">
           
                <label class="" >&nbsp;</label>
                <button class="btn btn-default" ng-click="searchInfo()"><i class="fa fa-search"></i> 搜索</button>     
            </div>
        </div>
        <div class="box">
            <a ng-show="{{userAuthority[0].userHave}}"  title="{{userAuthority[0].title}}"  class="btn btn-primary"  ui-sref="news-Article-add"><i class="fa fa-dashboard"></i> 新增</a>
            <a ng-show="{{userAuthority[2].userHave}}"  title="{{userAuthority[2].title}}"  class="btn btn-danger" ng-click="deleteAll(-1)"><i class="fa fa-times-circle-o" ></i> 回收站</a>
            <a title="恢复" class="btn btn-success" ng-click="deleteAll(1)"><i class="fa fa-check-circle-o" ></i> 恢复</a>
            <a title="恢复" class="btn btn-danger" ng-click="deleteAll(2)"><i class="fa fa-times-circle-o" ></i> 彻底删除</a>
        </div>
        <div class="box-body no-padding">
            <table class="table table-hover text-center">
                <tbody>
                <tr>
                    <th><input type="checkbox" class="firstCb" onclick="fdCheckAll()"></th>
                    <th>ID</th>
                    <th>标题</th>                    
                    <th>栏目</th>
                    <th>作者（UID）</th>
                    <th>创建日期</th>
                    <th ng-show="{{userAuthority[3].userHave}}"  title="{{userAuthority[3].title}}" >是否推荐</th>
                    <th>是否显示</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="item in list" class="list-animation">
                    <td><input type="checkbox" value="{{item.id}}" name="ids[]"></td>
                    <td>{{item.id}}</td>                    
                    <td>{{item.title}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.author}}</td>
                    <td>{{item.create_time}}</td>
                    <td ng-show="{{userAuthority[3].userHave}}"  title="{{userAuthority[3].title}}" >
                        <p><input type="checkbox" ng-checked="{{item.is_recommend==1}}" ng-click="recommend(item.id,$event)"></p>
                    </td>
                    <td>
                        <p><input type="checkbox" ng-checked="{{item.is_show==1}}"  ng-click="show(item.id,$event)"></p>
                    </td>
                    <td>{{item.status==1?'已发布':'已删除'}}</td>
                    <td>
                        <button ng-show="{{userAuthority[1].userHave}}"  title="{{userAuthority[1].title}}"  class="btn btn-info btn-xs glyphicon glyphicon-edit" ui-sref="news-Article-edit(item)" >编辑</button>
                        <button ng-show="{{userAuthority[2].userHave}}"  title="{{userAuthority[2].title}}"  class="btn btn-{{item.status==1?'danger':'success'}} btn-xs glyphicon glyphicon-remove-circle" 
                                ng-click="removeb(item.id,item.status==1?-1:1)">{{item.status==1?'回收站':'恢复'}}</button>
                        <button class="btn btn-danger btn-xs glyphicon  glyphicon-remove-circle" ng-click="removeb(item.id,2)" style="display:{{item.status==1?'none':'in-line'}};">
                            彻底删除
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix ">
            <pagination num-pages="numPages"  boundary-links="true" max-size="maxSize"   ng-change="pageChanged()" total-items="totalItems" ng-model="currentPage" class="pagination pull-right no-margin" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            <div class="pull-right ng-binding modv2-pageinfo">
                <span class="modv2-pagecur"> {{currentPage}} </span> / {{numPages}} 页 | 共 {{ totalItems }} 条
            </div>
        </div>
    </div>
</section>
<style type="text/css">.modal-backdrop{ z-index: 999 !important; } .modal{z-index: 1000 !important; }</style>

<script type="text/ng-template" id="tpl-update.html">
    <div class="modal-header">
        <button aria-label="close" data-dismiss="modal" class="close" type="button" ng-click="cancel()"><span aria-hidden="true">×</span></button>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="editUser" ng-submit="submitAddForm(editUser.$valid)">
            <div class="box-body">

                <div class="form-group">
                    <label for="url" class="col-sm-2 control-label">所属栏目</label>
                    <div class="col-sm-10">
                        <select ng-model="item.cid" class="form-control" on-change>
                            <option  value="">请选择</option>
                            <option ng-repeat="cat in catList" value="{{cat.id}}" ng-selected="{{cat.id==item.cid}}">{{cat.name}}</option>
                        </select>

                    </div>
                </div>

                <div class="form-group">
                    <label for="creator" class="col-sm-2 control-label">标题</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="creator" ng-model="item.title">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">排序</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="creator" ng-model="item.sort">
                    </div>
                </div>
                <div class="form-group">
                    <label for="pic" class="col-sm-1 control-label fd-must">文章图片</label>
                    <div class="col-sm-9">
                        <web-uploader width="200" ng-model="item.thumb_pic" file-num-limit="5">
                            <input type="hidden" ng-model="item.thumb_pic" />
                        </web-uploader>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label fd_must">文章内容</label>
                    <div class="col-sm-9">
                            <textarea ueditor="article" ng-model="item.content" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="submit">确定</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
                </div>
            </div>
        </form>
    </div>
</script>