<div class="page-height-o row-equal align-middle" data-ng-controller="signinCtrl">
  <div class="column">
    <div class="card bg-white no-border">
      <div class="card-block">
        <form role="form" class="form-layout">
          <div class="text-center">
            <img src="images/sign_logo.png">
          </div>
          <div class="text-center m-b">
            <h4 class="text-uppercase app-name">用户管理系统</h4>
          </div>
          <div class="form-inputs">
            <input type="text" class="form-control input-lg" name="phone" placeholder="用户名" ng-model="signNo">
            <input type="password" class="form-control input-lg" name="password" placeholder="登录密码" ng-model="signPsd"> 
          </div>
          <button class="btn btn-primary btn-block btn-lg m-b" ng-click="signIn()">登录</button>
        </form>
      </div>
    </div>
  </div>
</div>