<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            卖家保证金记录-{$site.SITE_INFO.name}
        </title>
        <php>
            $currentNav ='卖家保证金记录';
        </php>
        <include file="Common:intoHead" />
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
                <div id="Right">
                    <div class="Item hr clearfix">
                        <div class="current fl">
                            卖家保证金记录
                        </div>
                        <div class="search">
                            <form action="{:U('Auction/seller_pledge')}" method='get'>
                                开始时间：<input id="start_time" size="15" type="text" value="{$keys.start_time}" name="start_time" class="input" placeholder="默认为建站时间" />&nbsp;&nbsp;
                                结束时间：<input id="end_time" size="15" type="text" value="{$keys.end_time}" name="end_time" class="input" placeholder="默认为当前时间" />&nbsp;&nbsp;
                                用户账号：<input type="text" size="10" value="{$keys.account}" name="account" class="input" placeholder="用户账号" />
                                &nbsp;&nbsp;
                                类型：
                                <select name="sellpledgetype">
                                    <option value="" <eq name="keys.sellpledgetype" value=""> selected="selected"</eq>>全部</option>
                                    <foreach name="sellpledgetype" item="cv">
                                        <option value="{$key}" <eq name="keys.sellpledgetype" value="$key"> selected="selected"</eq>>{$cv}</option>
                                    </foreach>
                                </select>
                                &nbsp;&nbsp;
                                状态：
                                <select name="status">
                                    <option value="" <eq name="keys.status" value=""> selected="selected"</eq>>全部</option>
                                    <option value="0" <eq name="keys.status" value="0"> selected="selected"</eq>>已退</option>
                                    <option value="1" <eq name="keys.status" value="1"> selected="selected"</eq>>未退</option>
                                </select>
                                &nbsp;&nbsp;<button class="btn">筛选</button>
                            </form>
                        </div>
                        
                    </div>
                    
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
                        <thead>
                            <tr>
                                <td width="15%">所属用户</td>
                                <td width="10%">拍品</td>
                                <td width="5%">拍品状态</td>
                                <td width="10%">保证金/信誉</td>
                                <td width="10%">类型</td>
                                <td width="10%">退还</td>
                                <td width="5%">时间</td>
                            </tr>
                        </thead>
                        <empty name="list">
                            <tr><td colspan="10">哎哟！什么也没有！</td></tr>
                        <else /> 
                            <volist name="list" id="vo">
                                <tr align="center">
                                    <td align="left">
                                        <div class="ushow">
                                            <img class="usimg" src="{$vo.sellerid|getUserpic=###,2}" alt="" />
                                            <p class="fl">账号：{$vo.account}<br/>昵称：{$vo.nickname}</p>
                                        </div>
                                        卖家名称：{$vo.organization}
                                    </td>
                                    
                                    <if condition="$vo[pid]">
                                        <td align="left" style="line-height: 19px;">
                                            <a style="color:#ff6600;" href="{:U('Home/Auction/details',array('pid'=>$vo[pid]))}" target="_blank">
                                                <img style="margin-right: 5px; display: inline; float:left;" src="{$upWholeUrl}{$vo.pictures|getPicUrl=###,3,0}" width="50px" />{$vo.pname}
                                            </a>
                                        </td>
                                    <else/>
                                        <td>已删除</td>
                                    </if>
                                    <td align="left">{$vo.endstatus|endstatus_ch=###}</td>  
                                    <td align="left">
                                        保证金：{$vo.pledge}<br/>
                                        信誉：{$vo.limsum}
                                    </td>
                                    <td align="left">{$vo.type|sellpledgetype=###}</td>
                                    <td><eq name="vo.status" value="1">未退<else/>已退</eq></td>
                                    <td>{$vo.time|date="Y-m-d H:i:s",###}</td>
                                </tr>
                            </volist>
                            <tr>
                                <td colspan="20"><div class="page"  style="width: 60%; text-align: right; float: right;">{$page}</div></td>
                            </tr>
                        </empty>
                        
                    </table>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <include file="Common:foot" />
    </body>
<!-- 日期时间插件 -->
<css href="--PUBLIC--/Js/datetimepicker/jquery.datetimepicker.css"/>
<js href="--PUBLIC--/Js/datetimepicker/jquery.datetimepicker.js"/>
<!-- 日期时间插件 -->
<script type="text/javascript">
    //为input添加时间插件
    $('#start_time').datetimepicker({lang:'ch'});
    $('#end_time').datetimepicker({lang:'ch'});
</script>
</html>
